# Visual Studio
.vs/
*.user
*.suo

# Compilación
bin/
obj/

# NuGet
packages/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Configuración local
Web.config

# Bases de datos locales
*.mdf
*.ldf

# ReSharper
_ReSharper*/
*.DotSettings.user

# Sistema operativo
Thumbs.db
Desktop.ini